.blue {
    background-color: navy;
    height: 566px;
    width: 237px;
    float:left;
}

.star-five {
    margin: 50px 0;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    position: absolute;
    top: 161px;
    left: 23px;
}
.star-five:before {
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
.star-five:after {
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}
.white{
    background-color: white;
    height: 280px;
    width: 575px;
    position: absolute;
    bottom: 367px;
    right:10px;
}
.red{
    background-color: red;
    height: 280px;
    width: 575px;
    position: absolute;
    top: 294px;
    right: 220px;
    float: left;

